.name-tag {
  background-color: #f6ebdc;
  width: 100%;
  height: 50px;
}
.head {
  font-size: 15px;
  font-weight: 500;
  font-family: outfit;
  padding-top: 10px;
}
.nav-div {
  background-color: white;
  width: 100%;
  height: 62px;
}
.nav-main-div{
  display: flex;
}

.logo {
  width: 180px;
  height: 28px;
  margin: 0px 0 0 140px;
}
.nav-item {
  padding: 10px 0 0 10px;
  font-family: outfit;
  font-size: 13px;
  font-weight: 500;
}
.menu-list {
  margin-left: 22%;
  padding: 0 0 0 10px;
}
.menu-list-1 {
  margin-left: 28%;
  padding: 0 0 0 10px;
}
.search-icon {
  margin: 18px 0 0 580px;
  display: flex;
  position: absolute;
  width: 18px;
  height: 18px;
}
.search-input {
  border-radius: 60px;
  width: 180px;
  height: 28px;
  margin: 10px 0 0 150px;
  color: #8e8e8e;
  padding: 0 0 0 45px;
  border: 1px solid #c9c9c9;
}
.search-input::placeholder {
  font-family: outfit;
  font-size: 12px;
  font-weight: 300;
  padding: -60px 0 0 0;
  position: relative;
}

.main-img {
  width: 100%;
  height: auto;
}
.info-div {
  width: 100%;
  height: 55px;
  background-color: #f5f5f5;
  padding: 20px 128px 0 128px;
}
.info-bar {
  margin: 0 30px 0 -10px;
  color: #f9ca9f;
}
.info-img {
  height: 30px;
  width: 30px;
  margin-top: -5px;
}
.info {
  font-family: outfit;
  font-size: 15px;
  font-weight: 400;
  color: #6f6f6f;
  margin: -30px 40px 0 0px;
}
.star {
  margin:-10px 0 0 0;
}
.category-1 {
  width: 1844px;
  height: 463px;
  display: flex;
  top: 1108px;
  background: white;
  left: 38px;
}
.title-1-div {
  position: relative;
}
.title-1 {
  font-family: outfit;
  font-weight: 600;
  font-size: 26px;
  margin: 30px 0 0 40%;
  width: 286px;
  height: 5px;
  line-height: 80px;
  color: #000000;
  text-align: center;
}
.line-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0 0 -10px;
}
.line-div-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -10px 0 0 10px;
}
.line-div-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -10px 0 0 0px;
}
.line-div-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -10px 0 0 0px;
}
.line-div-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -10px 0 0 0px;
}
.line-div-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -15px 0 0 0px;
}

.line {
  height: 1px;
  background-color: #000;
  width: 75px;
}
.circle {
  width: 50px;
  height: 8px;
  background-color: black;
  border-radius: 5px;
}
.category-main-div {
  width: 100%;
  padding: 20px 20px 20px 30px;
  gap: 20px;
}

.category-1 {
  width: 100%;
  height: auto;
  left: 0;
  padding: 0 0 0 30px;
  margin:40px 0 0 0;
}
.category-2 {
  width: 100%;
  left: 0;
  padding: 0 0 0 50px;
}
.category-div-1 {
  width: 50%;
}
.category-div {
  width: 100%;
  display: block;
}
.category-img {
  border-radius: 60px;
  height: auto;
  width: 100%;
  margin-left: -35px;
  motion-rotation: 0.52deg;
  transition: transform 0.3s ease;
}
.category-img:hover {
  transform: scale(1.05);
}
.category-name {
  font-family: outfit;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  margin-left: -75px;
  color: #6f6f6f;
}

.fasion-div {
  width: 100%;
}
.fasion-name {
  width: 100%;
  height: auto;
  margin: 10px 0 0 0;
  font-family: outfit;
  font-size: 42px;
  font-weight: 600;
  line-height: 62px;
  text-align: center;
  color: #d39d4e;
}
.fasion-sub-name {
  width: 100%;
  height: auto;
  margin: -10px 0 0 0;
  font-family: outfit;
  font-weight: 600;
  font-size: 26px;
  line-height: 62px;
  text-align: center;
}

.para-div {
  width: 100%;
  height: auto;
  margin: 0;
  text-align: center;
}
.fasion-para {
  font-family: outfit;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
}

.fasion-para-1 {
  color: #d39d4e;
}
.fasion-para-2 {
  font-family: outfit;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  margin: -900px 0 0 0;
}
.fasion-button {
  width: 187px;
  height: 50px;
  margin: 50px 0 0 0;
  border-radius: 5px;
  font-family: outfit;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  background-color: #f5f5f5;
  color: #000000;
  border: solid 1px #000000;
}
.fasion-button:hover {
  background-color: #000;
  color: #ffffff;
  transition: 0.4s;
}
.fasion-button-1 {
  width: 187px;
  height: 50px;
  margin: 50px 0 0 0;
  border-radius: 5px;
  font-family: outfit;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  background-color: #f5f5f5;
  color: #d39d4e;
  border: solid 1px #d39d4e;
}
.fasion-button-1:hover {
  background-color: #d39d4e;
  color: #ffffff;
  transition: 0.4s;
}

.fasion-main-div-2 {
  width: 100%;
  height: auto;
}
.fasion-img-div {
  margin-top: 40px;
  width: 100%;
}
.fasion-img {
  width: 100%;
  height: auto;
}
.title-2 {
  font-family: outfit;
  font-size: 26px;
  font-weight: 600;
  line-height: 80px;
  color: #000;
  margin: 30px 0 0 610px;
  text-align: center;

}

.customer-main-div {
  width: 100%;
  height: auto;
  margin: 50px 0px 10px 0px;
  gap: 0px;
}
.customer-card-div {
  margin: 0 0 0 140px;
  width: 100%;
  height: auto;
  gap: 0px;
}
.customer-div {
  width: auto;
  height: auto;
  border: none;
}
.customer-img {
  width: 236px;
  height: auto;
  transition: transform 0.3s ease;
}
.customer-img:hover {
  transform: scale(1.05);
}
.customer-div-1 {
  padding: 10px 0 0px 0;
  gap: 5px;
}
.prod-fav {
  font-family: outfit;
  font-weight: 600;
  font-size: 13px;
  line-height: 23px;
  color: #c71616;
  width: 230px;
  height: auto;
  display: flex;
  text-align: left;
  -ms-flex-align: start;
}
.card-text {
  width: 250px;
  height: 53px;
  font-family: outfit;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #462c2c;
  margin: 0px 0 0px 0;
}
.price {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 14px;
  line-height: 22px;
  color: #b0b0b0;
  margin: 0px 0 0px 0;
}
.cross {
  color: #ff5757;
}
.colors {
  width: 22px;
  height: 22px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.cart-btn {
  width: 237px;
  height: auto;
  font-family: outfit;
  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
  gap: 10px;
  color: #ffffff;
  background-color: #000;
}
.cart-btn:hover {
  border-color: #000;
  border-width: 2px;
  background-color: #ffffff;
  transition: 1s;
}
.title-3 {
  font-family: outfit;
  font-size: 26px;
  font-weight: 600;
  line-height: 80px;
  color: #000;
  /* margin: 20px 0 0 550px; */
  text-align: center;

}

.offer {
  width: 80%;
  height: auto;
  margin: 50px 0 0 150px;
  gap: 10px;
}
.offer-div {
  gap: 10px;
}

.offer-img {
  width: 195px;
  height: auto;
}
.offer-1 {
  width: 100%;
  height: auto;
}
.card-container {
  margin-top: 50px;
  width: 100%;
  height: auto;
  gap: 20px;
}
.first-img {
  width: 100%;
  height: auto;
}

.title-4 {
  width: 322px;
  height: 81px;
  margin: 10px 0 0 600px;
  font-family: outfit;
  font-size: 26px;
  font-weight: 600;
  line-height: 80px;
  text-align: center;

}

.eid-pic {
  width: 82%;
  height: auto;
  margin: 30px 0 0 140px;
}
.title-5 {
  width: 312px;
  height: 81px;
  margin: 10px 0 0 600px;
  font-family: outfit;
  font-weight: 600;
  font-size: 26px;
  line-height: 80px;
}
.banking-main-div {
  margin: 30px 50px 70px 50px;
  border-color: white;
  gap: 25px;
}
.banking-img-div {
  gap: 25px;
}
.banking-div {
  border: none;
}
.banking-img {
  width: 215px;
  height: auto;
}
.banking-title {
  width: 100%;
  height: auto;
  font-family: outfit;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  margin: 7px;
  color: #858585;
}
.banking-off {
  width: 100%;
  height: auto;
  font-family: outfit;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 7px 7px 7px 7px;
  color: #000000;
}
.update {
  gap: 6px;
  margin: 40px 80px 0 80px;
  width: 90%;
  height: auto;
}
.update-img {
  width: 447px;
  height: auto;
}

.title-6 {
  width: 175px;
  height: 70px;
  margin: 10px 0 0 675px;
  font-family: outfit;
  font-weight: 600;
  font-size: 26px;
  line-height: 80px;
  text-align: center;

}
.news-div {
  width: 85%;
  margin-left: 100px;
  padding: 40px 0% 70px 0%;
  gap: 18px;
}
.news-img-div {
  width: 100%;
  height: auto;
}
.news-img {
  width: 247px;
  height: auto;
}
.content-main-div {
  width: 100%;
  height: auto;
  background-color: #eceff3b2;
}
.content {
  width: 100%;
  height: auto;
}
.content-div {
  margin: -80px auto;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}
.content-txt {
  font-family: outfit;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
  padding-top: 6px;
}
.content-num-1 {
  font-family: outfit;
  font-weight: 600;
  font-size: 38px;
  line-height: 37px;
  color: #ffffff;
}
.footer {
  margin: 150px 0 0px 0;
  width: 100%;
  height: auto;
}
.footer-div {
  padding: 30px 40px 60px 130px;
  gap: 15px;
}
.footer-head {
  width: 125px;
  height: 23px;
  font-family: outfit;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  color: #0e2b5c;
}
.square {
  list-style-type: square;
  margin: 25px auto;
}
.square li a {
  font-family: outfit;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  text-decoration: none;
  color: #36557c;
}
.footer-num {
  width: 350px;
  font-family: outfit;
  font-weight: 700;
  font-size: 27px;
  line-height: 23px;
  margin: 30px 0 20px 0;
  color: #0e2b5c;
}
.footer-name {
  width: 350px;
  font-family: outfit;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  color: #0e2b5c;
}
.footer-mail {
  width: 350px;
  font-family: outfit;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #565656;
}
.footer-place {
  width: 350px;
  font-family: outfit;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  color: #0e2b5c;
}
.footer-place-1 a {
  width: 350px;
  font-family: outfit;
  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
  color: #0e2b5c;
}
.line-1 {
  width: 100%;
  border: solid 1px #d9d9d9;
  justify-content: center;
  text-align: center;
}

.close-div {
  gap: 30px;
  margin: 40px 10px 0px 50px;
}

.Copyright {
  font-family: inter;
  font-weight: 500;
  font-size: 13px;
  color: #0e2b5c;
  width: 400px;
  height: 23px;
  line-height: 13px;
  margin: -10px 0 0 50px;
}
.logo-2 {
  width: 200px;
  display: flex;
  margin: -10px 0 0 180px;
}
.payment {
  width: 300px;
  display: flex;
  margin: -10px 0 0 180px;
}

@media (max-width: 576px) {
 
 
  .nav-main-div{
    display:initial;
  }
  .logo {
    width: 180px;
    height: 28px;
    text-align: center;
  }
  .menu-list {
    margin-left: 0%;
    width: 100%;
  }
  .menu-list-1 {
    margin-left: 0%;
    width: 100%;
  }
  .info-div {
    width: 100%;
    height: 46px;
    padding: 0px 0px 0 0px;
  }
  .info-bar {
    margin: 0 0px 0 4px;
  }
  .info-img {
    height: 10px;
    width: 10px;
    margin: 0px 0 0 6px;
  }
  .info {
    font-family: outfit;
    font-size: 6px;
    font-weight: 400;
    color: #6f6f6f;
    margin: -10px 0px 0 0px;
  }
  .msg {
    width: 10px;
    height: 10px;
    padding: 2px 0 0 0;
  }
  .star {
    margin: 0 0 0 0;
    width: 50px;
    height: 40px;
  }
  .title-1 {
    font-size: 16px;
    width: 286px;
    height: 81px;
    margin: 0px 0 0 150px;
    top: -60px;
    left: 159px;
  }
  .line-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -20px 0 0 0px;
  }
  .line-div-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -20px 0 0 10px;
  }
  .line-div-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -20px 0 0 0px;
  }
  .line-div-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -20px 0 0 10px;
  }
  .line-div-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -10px 0 0 -40px;
  }
  .line-div-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -20px 0 0 0px;
  }
  .line {
    height: 1px;
    background-color: #000;
    width: 45px;
  }
  .circle {
    width: 30px;
    height: 8px;
    background-color: black;
    border-radius: 5px;
  }
  .category-main-div {
    padding: 0px;
    flex-wrap: wrap;
  }
  .category-1 {
    width: 100%;
    height: auto;
    left: 0;
    margin: 30px 0 0 0;
  }
  .category-img {
    border-radius: 60px;
    width: 100px;
    height: auto;
    margin-left: -15px;
  }
  .category-div-1 {
    width: 100%;
  }

  .category-name {
    font-family: outfit;
    font-weight: 400;
    font-size: 11px;
    line-height: 40px;
    text-align: center;
    margin-left: -25px;
    gap: 50px;
    color: #6f6f6f;
  }
  .fasion-name {
    margin: 30px 0 0 0;
    font-size: 32px;
  }
  .fasion-sub-name {
    top: 190px;
    font-size: 22px;
  }
  .para-div {
    top: 250px;
  }
  .fasion-para {
    font-size: 16px;
    line-height: 20px;
  }
  .fasion-para-2 {
    font-size: 16px;
    line-height: 20px;
  }
  .fasion-button {
    width: 127px;
    height: 40px;
    top: 45px;
    left: 90px;
    font-size: 12px;
  }
  .fasion-button-1 {
    width: 127px;
    height: 40px;
    top: 45px;
    left: 250px;
    font-size: 12px;
  }
  .fasion-main-div-2 {
    width: 100%;
    height: auto;
  }
  .fasion-img {
    width: 100%;
    height: auto;
  }
  .title-2 {
    font-family: outfit;
    font-weight: 600;
    font-size: 18px;
    width: 286px;
    height: 81px;
    margin: 10px 0 0 150px;
    line-height: 80px;
  }
  .customer-main-div {
    width: 100%;
    height: auto;
    margin: 50px 0px;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
  }
  .customer-card-div {
    margin: 0px;
    gap: 10px;
    flex-wrap: wrap;
  }
  .customer-div-1 {
    padding: 10px 0 0px 15px;
    gap: 5px;
  }
  .customer-div {
    width: 100%;
    height: auto;
    border: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .title-3 {
    font-size: 18px;
    margin: -60px 0 0 0px;
  }
  .offer {
    width: 100%;
    margin-top: 30px;
    flex-wrap: wrap;
    margin: 50px 0 0 0px;

  }
  .offer-div{
    margin: 0;
  }
  .card-container {
    margin-top: 50px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  .first-img {
    width: 100%;
    height: auto;
  }
  .offer-img {
    width: 100%;
    height: auto;
  }
  .title-4 {
    margin: 10px 0 0 140px;
    font-size: 18px;
  }
  .eid-pic {
    width: 100%;
    height: auto;
    margin: 0 0 0 0px;

   
  }
  .title-5 {
    margin: 10px 0 0 140px;
    font-size: 18px;
  }
  .banking-main-div {
    margin: 30px 0 0 12px;
    gap: 20px;
    flex-wrap: wrap;
  }
  .banking-div {
    width: 100%;
    height: auto;
    border: none;
    flex-wrap: wrap;
  }
  .banking-img {
    width: 135px;
    height: auto;
  }
  .banking-title {
    width: 100%;
    height: auto;
    font-size: 12px;
    margin: 5px 0;
  }
  .banking-off {
    font-size: 13px;
    margin: 5px 0;
  }
  .update {
    gap: 6px;
    margin: 45px 0px 0 15px;
    flex-wrap: wrap;
  }
  .title-6 {
    margin: -10px 0 0 165px;
    font-size: 18px;
    line-height: 95px;
  }
  .news-img-div {
    width: 100%;
    height: auto;
    align-items: center;
  }
  .news-div {
    width: 100%;
    height: auto;
    margin-left: 0px;
    gap: 18px;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 110px;
  }
  .content-div {
    position: absolute;
    margin: -40px 0;
    display: flex;
  }
  .content-txt {
    font-size: 8px;
    line-height: 32px;
  }
  .content-num-1 {
    font-size: 14px;
  }
  .footer-div {
    padding: 30px 40px 60px 130px;
    gap: 15px;
    position: relative;
  }
  .footer-mail {
    width: 350px;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
  }
  .footer-order-div {
    margin-top: 115%;
    padding: 0;
  }
  .footer-div-2 {
    position: absolute;
    top: -80px;
    left: 50px;
    gap: 400px;
  }
  .footer-div-2-1 {
    position: absolute;
    top: 150px;
    left: 50px;
    gap: 400px;
  }
  .footer-div-3 {
    position: absolute;
    top: -80px;
    left: 270px;
    gap: 400px;
  }
  .footer-div-3-1 {
    position: absolute;
    top: 150px;
    left: 270px;
    gap: 400px;
  }

  .Copyright {
    font-size: 10px;
    width: 360px;
    height: 23px;
    line-height: 13px;
    margin: 90px 0 0 50px;
    position: absolute;
  }
  .logo-2 {
    width: 200px;
    display: flex;
    margin: -30px 0 90px 100px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .payment {
    width: 200px;
    display: flex;
    margin: 30px 0 0 -225px;
    align-items: center;
  }
}

@media (width: 1024px) {
  .logo {
    width: 170px;
    height: auto;
    margin: 8px 0 0 10px;
  }
  .nav-item {
    margin: 0 0 0 -10px;
    padding: 15px 0 0 -30px;
    font-size: 12px;
    width: 100px;
  }
  .category {
    margin: 0 0 0 -20px;
  }
  .contact {
    margin: 0 0 0 -20px;
  }
  .search-icon {
    margin: 16px 0 0 485px;
  }
  .search-input {
    margin: 10px 0 0 20px;
  }
  .info-div {
    padding: 20px 0px 0 5px;
  }
  .info {
    font-size: 10px;
  }

  .star {
    margin: -4px 0 0 0;
    width: 70px;
    height: auto;
  }

  .title-1 {
    font-size: 26px;
    margin: 30px 0 0 360px;
  }

  .category-1 {
    padding: 0 0 0 0px;
    margin: -1100px 0 0 0;
  }
  .category-name {
    font-size: 12px;
    margin-left: -65px;
  }
  .category-img {
    border-radius: 60px;
  }
  .category-main-div {
    padding: 20px 0px 20px 30px;
  }
  .fasion-main-div-2 {
    top: -280px;
  }
  .fasion-button {
    top: 50px;
    left: 300px;
  }
  .fasion-button-1 {
    top: 50px;
    left: 555px;
  }
  .title-2 {
    font-size: 26px;
    margin: -25% 0 0 355px;
  }
  .customer-card-div {
    margin: 0 100px 0 110px;
    gap: 30px;
    flex-wrap: wrap;
  }
  .title-3 {
    font-size: 26px;
    margin: 115% 0 0 300px;
  }
  .offer {
    left: 100px;
    margin: 50px 0;
    flex-wrap: wrap;
  }
  .offer-div {
    gap: 10px;
  }
  .offer-img {
    width: 255px;
    height: auto;
  }
  .card-container {
    margin-top: 50px;
  }
  .title-4 {
    margin: 10px 0 0 350px;
    line-height: 80px;
  }
  .eid-pic {
    top: 1150px;
    left: 100px;
    margin: 20px 0 0 0;
  }
  .title-5 {
    margin: 114% 0 0 350px;
    font-size: 26px;
  }
  .banking-main-div {
    margin: 30px 50px 70px 100px;
    gap: 50px;
    flex-wrap: wrap;
  }
  .banking-img {
    width: 255px;
    height: auto;
  }
  .banking-title {
    font-size: 20px;
    margin: 7px 0 15px 7px;
  }
  .banking-off {
    font-size: 22px;
    margin: 170px 7px 7px 7px;
  }
  .update {
    /* width: 100%; */
    gap: 10px;
    margin: 40px 55px 0 55px;
    flex-wrap: wrap;
  }
  .update-img {
    width: 895px;
    height: auto;
  }
  .title-6 {
    margin: 10px 0 0 420px;
    font-size: 26px;
  }
  .news-div {
    gap: 18px;
    margin-left: 80px;
  }
  .news-img {
    width: 150px;
    height: auto;
  }
  .content-div {
    margin: -70px auto;
  }
  .content-txt {
    font-size: 16px;
    padding-top: 6px;
  }
  .content-num-1 {
    font-size: 26px;
  }
  .footer-div {
    padding: 30px 0px 40px 10px;
    gap: 25px;
  }
  .footer-num {
    width: 250px;
  }
  .footer-name {
    width: 250px;
  }
  .footer-place {
    width: 250px;
  }

  .Copyright {
    font-weight: 500;
    font-size: 13px;
    width: 450px;
    margin: 100px 0 0 0px;
    text-align: center;
    position: absolute;
  }
  .logo-2 {
    margin: 10px 0 0px 360px;
  }
  .payment {
    width: 200px;
    display: flex;
    margin: 100px 0 0 100px;
  }
}

@media (width: 820px) {
  .logo {
    width: 150px;
    height: 30px;
    margin: 0px 0 0 0px;
  }
  .nav-item {
    padding: 10px 0 0 0px;
    font-size: 12px;
  }
  .contact {
    margin: 0;
    width: 80px;
  }
  .search-icon {
    margin: 18px 0 0 385px;
    width: 18px;
    height: 18px;
  }
  .search-input {
    width: 140px;
    margin: 10px 0 0 20px;
    padding: 0px 0 0 35px;
  }
  .search-input::placeholder {
    font-size: 10px;
  }

  .info-div {
    padding: 20px 0px 0 0px;
  }
  .info-bar {
    margin: 0 10px 0 10px;
    color: #f9ca9f;
  }
  .info-img {
    height: 25px;
    width: 25px;
    margin: -5px 0 0 0;
  }
  .info {
    font-family: outfit;
    font-size: 10px;
    margin: -30px 0px 0 0px;
  }
  .star {
    margin: -1px 0 ;
  }

  .title-1 {
    font-size: 24px;
    margin: 30px 0 0 32%;
  }
  .category-1 {
    padding: 0 0 0 0px;
    margin: -1090px 0 0 20px;
    gap: 10px;
  }

  .category-img {
    width: 89px;
  }
  .category-name {
    margin-left: -45px;
    font-size: 10px;
    text-align: center;
  }
  .fasion-button {
    left: 160px;
    font-size: 16px;
  }
  .fasion-button-1 {
    left: 450px;
    font-size: 16px;
  }
  .fasion-main-div-2 {
    position: relative;
    top: -200px;
  }
  .title-2 {
    width: 300px;
    font-size: 24px;
    margin: -25% 0 0 270px;
  }
  .customer-card-div {
    margin: 0;
    padding: 0 0 0 35px;
    gap: 10px;
    flex-wrap: wrap;
  }
  .title-3 {
    font-size: 24px;
    width: 400px;
    margin: 140% 0 0 220px;
  }
  .offer {
    left: 80px;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 30px;
  }
  .offer-div {
    gap: 30px;
  }

  .title-4 {
    width: 322px;
    margin: 10px 0 0 250px;
    font-size: 24px;
  }
  .eid-pic {
    top: 1090px;
    left: 65px;
    margin: 50px 0 0 0;
  }
  .title-5 {
    margin: 135% 0 0 260px;
    font-size: 24px;
  }
  .banking-main-div {
    gap: 45px;
    flex-wrap: wrap;
  }
  .banking-off {
    font-weight: 700;
    font-size: 18px;
    margin: 145px 7px 7px 7px;
    color: #000000;
  }
  .update {
    margin: 40px 80px 0 0px;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 0 0 80px;
  }
  .update-img {
    width: 647px;
    height: auto;
  }
  .title-6 {
    margin: 10px 0 0 325px;
    font-size: 24px;
  }
  .news-div {
    gap: 28px;
    margin-left: 60px;
  }
  .news-img {
    width: 100%;
    height: auto;
  }
  .content-div {
    margin: -60px auto;
  }
  .content-txt {
    font-size: 16px;
    padding-top: 6px;
  }
  .content-num-1 {
    font-family: outfit;
    font-weight: 600;
    font-size: 22px;
  }
  .footer-num {
    width: 250px;
  }
  .footer-name {
    width: 250px;
  }
  .footer-place {
    width: 250px;
  }
  .footer-order-div {
    margin: 100px 0 110px 400px;
    padding: 0;
  }
  .footer-div-2 {
    position: absolute;
    top: 7100px;
    left: 100px;
    width: auto;
  }
  .footer-div-2-1 {
    position: absolute;
    top: 7340px;
    left: 330px;
    gap: 400px;
    width: auto;
  }
  .footer-div-3 {
    position: absolute;
    top: 7100px;
    left: 330px;
    gap: 400px;
    width: auto;
  }
  .footer-div-3-1 {
    position: absolute;
    top: 7340px;
    left: 100px;
    width: auto;
  }
  .Copyright {
    font-family: inter;
    font-weight: 500;
    font-size: 13px;
    color: #0e2b5c;
    width: 400px;
    height: 18px;
    margin: 50px 0 0 15px;
    position: absolute;
  }
  .logo-2 {
    margin: -10px 0 90px 260px;
  }
  .Copyright {
    margin: 70px 0 0 -10px;
    position: absolute;
  }
  .payment {
    margin: 65px 0 0 -90px;
  }
}

@media (width:1280px){
  .title-1{
    margin: 30px 0 0 38%;

  }
  .fasion-img-div {
    margin-top: 55%;
  }
  .title-2 {
    margin: -35% 0 0 490px;
  }
  .customer-card-div {
    margin: 0 0 0 30px;
    flex-wrap: wrap;
    gap: 10px;
  }
  .title-3 {
    margin: 600px 0 0 450px;
  }
  .offer {
    width: 100%;
    height: auto;
    left: 30px;
    gap: 10px;
    flex-wrap: wrap;
  }
  .title-5 {
    width: 312px;
    height: 81px;
    margin: 48% 0 0 490px;
    font-size: 26px;
  }
  .banking-main-div {
    gap: 45px;
    flex-wrap: wrap;
  }
  .banking-off {
    font-size: 20px;
    margin: 150px 7px 7px 7px;
    color: #000000;
  }
 
}